/* auth.css */

.authout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .authin {
    display: flex;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    padding: 20px;
  }
  
  .authin .left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .authin .right {
    flex: 2;
    padding-left: 20px;
  }
  
  .authin .img {
    width: 100px;
    height: 100px;
  }
  
  .authin form {
    display: flex;
    flex-direction: column;
  }
  
  .authin .forminput_cont {
    margin-bottom: 10px;
  }
  
  .authin label {
    font-weight: bold;
  }
  
  .authin input[type="text"],
  .authin input[type="password"],
  .authin input[type="number"],
  .authin input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .authin .formerror {
    color: red;
    font-size: 14px;
  }
  
  .authin .checkbox-container {
    display: flex;
    margin-top: 5px;
  }
  
  .authin .checkbox-label {
    margin-right: 10px;
  }
  
  .authin .main_button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .authin .main_button:hover {
    background-color: #45a049;
  }
  
  .authlink {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .authlink a {
    color: #4caf50;
  }